@model Week



<form method="post">
    <input asp-for="UserProfileId" hidden />
    <input asp-for="WeeklyLoss" hidden />
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">How Many Calories - Week 2</h2>
                    <hr />
                </div>
                <partial name="~/Views/Shared/_Week_Partial.cshtml" />

            </div>
        </div>
    </div>
</form>

@section Scripts{
<script>
        function ValidateInput(){
    Swal.fire({
      title: 'Are you sure?',
      text: "This will end your current progress!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, End program!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = "EndProgram";
      }

    })
        }
</script>
}
