@model UserProfile

@if(TempData["Success"] != null)
{
    <h2>@TempData["Success"]</h2>
}
<form method="post" asp-controller="Start" asp-action="Index" enctype="multipart/form-data">
  
    <input asp-for="Id" hidden />

<div class="row justify-content-center">
    <div class="col-10">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">How Many Calories</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="StartWeight" in Kilograms></label>
                <input asp-for="StartWeight" class="form-control" />
                <span asp-validation-for="StartWeight" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GoalWeight"></label>
                <input asp-for="GoalWeight" KG class="form-control" />
                <span asp-validation-for="GoalWeight" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Current Maintanence Calories</label>
                <input asp-for="StartCalories" class="form-control" />
                <span asp-validation-for="StartCalories" class="text-danger"></span>
            </div>
            <div>
                <label>Duration of Weight Loss</label>
                <select asp-for="Duration" class="form-select">
                    <option value="6">6 Weeks</option>
                    <option value="8">8 Weeks</option>
                    <option selected value="12">12 Weeks</option>
                </select>
            </div>
            <div class="col-12 p-3">
                <button type="submit" class="btn btn-primary" style="width:260px">SUBMIT</button>
            </div>
        </div>
    </div>
    <div class="p-5 col-11" >
        <label>Find your estimated maintenance calories below</label>
        <br />
        <br />
        <a href="https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/calorie-calculator/itt-20402304" class="btn btn-secondary" target="_blank">Maintanence Calculator</a>
    </div>
</div>
</form>
