@using HowManyCalories.Utility
@model UserProfile

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Let the Science do the tracking for you</h1>
          <h2> Guessing your calories for sustainable weight loss? Not anymore! Sign up with How Many Calories for your free weight loss calorie tracker</h2>
          <div class="pt-5">
          @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_User)){
                <div>
			        <a asp-controller="Start" asp-action="Index" class="btn btn-primary" style="width: 150px">
				        Start
			        </a>
			        <a asp-controller="Start" asp-action="Continue" class="btn btn-secondary" style="width: 150px">
				        Continue
			        </a>
                </div>
            }else{
                <div>              
			        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary" style="width: 150px">
				        Sign up
			        </a>
			        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary" style="width: 150px">
				        Sign in
			        </a>               
                </div>
            }
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="img/apple.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->



@*<div class="row justify-content-center">
    <div class="col-10">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">How Many Calories</h2>
                <hr />
            </div>
            <p class="col-12">
                Welcome to How many Calories, the simple app which help you determin your daily caloric intake.
                Week by week you will input 3 checkins of your weight which will help us measure your progress.
                Depending on this your calories will be adjusted for you to reach your goals.
                Good luck on your weight loss journey :) 
            </p>
            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_User)){
                <div class ="d-grid gap-2">
			        <a asp-controller="Start" asp-action="Index" class="btn btn-primary">
				        Start Here
			        </a>
			        <a asp-controller="Start" asp-action="Continue" class="btn btn-secondary">
				        Continue Here
			        </a>
                </div>
            }else{
                <div class ="d-grid gap-2">              
			        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
				        Register
			        </a>
			        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary">
				        Sign in
			        </a>               
                </div>
            }
        </div>
    </div>
</div>*@