@using HowManyCalories.Utility
@model UserProfile



<div class="row justify-content-center">
    <div class="col-10">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">How Many Calories</h2>
                <hr />
            </div>
            <p class="col-12">
                Welcome to How many Calories, the simple app which help you determin your daily caloric intake.
                Week by week you will input 3 checkins of your weight which will help us measure your progress.
                Depending on this your calories will be adjusted for you to reach your goals.
                Good luck on your weight loss journey :) 
            </p>
            @if(User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_User)){
                <div class ="d-grid gap-2">
			        <a asp-controller="Start" asp-action="Index" class="btn btn-primary">
				        Start Here
			        </a>
			        <a asp-controller="Start" asp-action="Continue" class="btn btn-secondary">
				        Continue Here
			        </a>
                </div>
            }else{
                <div class ="d-grid gap-2">              
			        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
				        Register
			        </a>
			        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary">
				        Sign in
			        </a>               
                </div>
            }
        </d>
    </div>
</div>